.header-links > li {
    list-style-type: none;
    display: inline-block;
    font-size: 20px;
    padding: 2rem;

}


.inizia {
        font-size: 20px;
        padding: 10px;
        background-color: rgb(48, 48, 255);
        color: white;
        border: none;
}

header {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
}

.header-container {
display: inline-block;

}

main>section>.container {
	display: flex;

	/* debug */
	min-height: 300px;
    column-gap: 50px;
    
}


/* Inizio Prima section */

.first-section {
    background-color: #B4D0E7;
    min-height: 50rem;
    
    
}

.main-col {
    flex-grow: 1;
    margin-top: 5rem;

    /* debug */
    /* background-color: cornflowerblue;
    border: 2px dashed black;
    font-size: 20px; */

}

.side-col {
    flex-grow: 2;
    margin-top: 5rem;
    width: 500rem;
    

    /* debug */
    /* background-color: pink;
    border: 2px dashed black; */
}


.upper-text-first-section {
    padding-bottom: 2rem;
    font-size: 20px;
}


.prova-gratuita {
    margin-bottom: 3rem;
    padding: 15px;
    background-color: rgb(48, 48, 255);
    color: white;
    border: none;

}


.annulla-sempre {
    margin-bottom: 5rem;
}

.arrow {
    font-size: 60px;
}

.titolo {
    padding-top: 5rem;
    text-align: center;
    font-size: 80px;
    
}

/* Fine Prima section */




/* Inizio Seconda section  */


.second-section {
    padding-top: 10rem;
    background-color: white;
    height: 135rem;
}

.titolo-second-section {
    text-align: center;
    font-size: 50px;
    margin-bottom: 2rem;

}


.fake-check {
    text-align: center;
    padding-right: 15rem;
    padding-bottom: 4rem;
    vertical-align: center;
    font-size: 1.5rem ;
}

.circle {
    font-size: 2rem;
}

.fatturazione {
    padding-right: 5rem;
}

li {
    list-style-type: none;
}

.second-section-col {
    flex-grow: 1;
    height: 58rem;
    width: 27%;

    /* debug */
    background-color: white;
    border: 1px solid grey;
    font-size: 20px;
}

.second-section-col > *{
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 40px;

}

li > span {
    color: rgb(49, 49, 212);
    font-weight: bold;
}

.col-title {
    text-align: center;
    margin: 0;
}





.second-section-row {
        margin-top: 20px;
        height: 250px;
        width: 100%;
        margin-bottom: 20px;
        font-size: 20px;
    
        /* debug */
        background-color: white;
        border: 1px solid grey;
        
}


.second-section-row > * {
    margin-top: 10px;
    margin-left: 20px;
}

.title-hr {
    margin: 0;
    color: grey;
}

.enterprise {
    font-size: 30px
}


.single {
    margin-left: 60rem;
}


.partner {
    width: 35rem;
    
}

.side-col.pt {
    width: 150rem;
    
}



.tp {
    margin-top: 10rem;
}


.second-section-col > ul > li {
    margin-bottom: 20px;
}

/* Fine Seconda section */




/* Inizio Terza section  */
.titolo-third-section {
    text-align: center;
    font-size: 50px;
    margin-bottom: 40px;
}


.col {
    width: 30%;
    position: relative;
}


 .row {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     column-gap: 30px;
     row-gap: 5rem;
 }

 .third-section{
    background-color: white;
    height: 100rem;
 }

.col > h5 {
    font-size: 30px;
    margin-bottom: 30px;
}

.col > p {
    font-size: 20px;
}


.end-text > h4 {
    font-size: 50px;
    margin-bottom: 50px;
}

/* Fine Terza section */


/* Inizio Quarta sezione */

    .square-logo {
        width: 50%;
        height: calc(100vw / 3 / 2);

        /* background-color: blue;
        border: 2px dashed black; */

        line-height: 15vw;
        text-align: center;
    }


    .square-logo img {
        object-fit: cover;
        vertical-align: middle;
        filter: invert();
        width: 50%;
    }
   
    
    .w50.d-wrap {
        text-align: center;
        background-color: lightgray;
    }

    .central-img {
        padding-left: 135px;
       
    }

    /* colori quadrati */
    .first {
        background-color: #A2D39B;
    }

    .second {
        background-color: #61082B;
    }

    .third {
        background-color: #0093CE;
    }


    .fourth {
        background-color: #FF1C1C;
    }

    .fifth {
        background-color: #D5001F;
    }

    .sixth {
        background-color: #B4D0E7;
    }

    .seventh {
        background-color: #0D2481;
    }

    .ninth {
        background-color: #FFD830;
    }

    /* colori quadrati */

    /* Fine Quarte section */



/* Inizio Quinta sezione */


.fifth-section {
    background-color: lightblue;
    height: 25rem;
}

.after-logo {
        
        padding: 15px;
        padding-left: 50px;
        padding-right: 50px;
        background-color: white;
        color: black;
        border: none;
}

.after-logo {
    margin-top: 11rem;
    font-size: 20px;
}

.container > h2 {
    margin-top: 10rem;
    font-size: 50px;
    color: #61082B;
}

/*  Fine Quinta section  */



/* Inizio Sesta sezione */
.sixth-section {
    height: 52rem;
}


.sixth-container {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 40px;
    padding-top: 10rem;
}

.sixth-container> h2 {
    padding-bottom: 80px;
}

.sixth-container > h6 {
    padding-bottom: 50px;
    font-size: 20px
}

.sixth-container> hr {
    margin-bottom: 50px;
}


.fa-angle-down {
    margin-left: 25rem;
}

/*  Fine Sesta section  */


/* Footer */
footer {
    background-color: black;
    height: 40rem;
    color: white;
}


.footer-side-col {
    display: flex;
    width: calc(100% / 3 * 2);

    /* debug */
    /* background-color: #20b2aa;
	border: 2px dashed black; */
    font-size: 20px;

}

.footer-col  {
    margin-right: 80px;
}

.footer-col {
    width: 25%;
    text-align: left;
    
}

b {
    font-size: 50px
}

.end-footer {
    margin-top: 10rem;
    margin-right: 69rem;
    color: grey;
    border-top: solid;
    border-color: #CCCCCC;
    border-width: 1px;
    
    
}

.end-footer .fa-solid {
    margin-left: 0;
}

.fa-sort-up {
    vertical-align: middle;
}

.lang {
    padding-top: 40px;
}
