.header-links > li {
    list-style-type: none;
    display: inline-block;

}

header {
    display: flex;
    justify-content: space-between;
    height: 5rem;
}

.header-container {
display: inline-block;

}

main>section>.container {
	display: flex;

	/* debug */
	min-height: 500px;
}


/* Inizio Prima section */

.bg-lightblue {
    background-color: lightblue;
    height: 45rem;
}



.main-col {
    flex-grow: 1;

    /* debug */
    background-color: cornflowerblue;
    border: 2px dashed black;
}

.side-col {
    flex-grow: 2;

    /* debug */
    background-color: pink;
    border: 2px dashed black;
}

.Titolo {
    text-align: center;
    font-size: 80px;
}

/* Fine Prima section */