.header-links > li {
    list-style-type: none;
    display: inline-block;

}

header {
    display: flex;
    justify-content: space-between;
    background-color: yellow;
    height: 5rem;
}

.header-container {
display: inline-block;

}

